@using ProgrammersBlog.Shared.Entities.Concrete
@{
    Layout = "_ErrorLayout";
    ViewBag.title = "Suncu Hatası (500)";
    MvcErrorModel errorModel = ViewData["MvcErrorModel"] as MvcErrorModel; //Derleyici Compile etmesi için as MvcErrorModel ekledik.
}
<div class="col-lg-12">
    <div class="text-center mt-4">
        <h1 class="display-1">500</h1>
        <p class="lead">@errorModel.Message</p>
        <a class="text-warning" asp-controller="Home" asp-action="Index">
            <i class="fas fa-arrow-left mr-1"></i>
            Anasayfa'ya dönmek için tıklayınız.
        </a>
    </div>
</div>