@model ProgrammersBlog.Entities.Dtos.UserRegisterDto
@{
    Layout = "_UserLoginLayout";
    ViewBag.Title = "Kayıt Ol";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class="fas fa-house-user"></span> Kayıt Ol</h3></div>
                <div class="card-body">
                    <form asp-controller="Auth" asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="FirstName"></label>
                            <input class="form-control py-4" asp-for="FirstName" type="text" placeholder="Lütfen adınızı giriniz." />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="LastName"></label>
                            <input class="form-control py-4" asp-for="LastName" type="text" placeholder="Lütfen soyadınızı giriniz." />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="UserName"></label>
                            <input class="form-control py-4" asp-for="UserName" type="text" placeholder="Lütfen kullanıcı adınızı giriniz." />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Email"></label>
                            <input class="form-control py-4" asp-for="Email" type="email" placeholder="Lütfen e-posta adersinizi giriniz." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Password"></label>
                            <input class="form-control py-4" asp-for="Password" type="password" placeholder="Lütfen şifrenizi giriniz." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
                            <button class="btn btn-primary" type="submit"><span class="fas fa-sign-in-alt"></span> Kayıt Ol</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small class="text-success text-center mb-1">Bir Hesabınız Var Mı?</small>
                    <a class="btn btn-success btn-block text-white" asp-action="Login"><span class="fas fa-user-edit"></span> Giriş Yap </a>
                </div>
            </div>
        </div>
    </div>
</div>